<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="story.book"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="story.book" />

    <application
        android:name="story.book.StoryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="story.book.MainActivity"
            android:label="@string/title_activity_dashboard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="story.book.StoryListActivity"
            android:label="@string/title_activity_story_list"
            android:parentActivityName="story.book.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="story.book.MainActivity" />
        </activity>
        <activity
            android:name="story.book.LocalStoriesActivity"
            android:label="@string/title_activity_local_stories"
            android:parentActivityName="story.book.StoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="story.book.StoryListActivity" />
        </activity>
        <activity
            android:name="story.book.StoryInfoActivity"
            android:label="@string/title_activity_story_info" >
        </activity>
        <activity
            android:name="story.book.EditStoryInformationActivity"
            android:label="@string/title_activity_edit_story_information" >
        </activity>
        <activity
            android:name="story.book.OnlineStoriesActivity"
            android:label="@string/title_activity_online_stories"
            android:parentActivityName="story.book.StoryListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="story.book.StoryListActivity" />
        </activity>
        <activity
            android:name="story.book.StoryFragmentEditActivity"
            android:label="@string/FragmentTitle">
        </activity>
        <activity
            android:name="story.book.StoryFragmentReadActivity"
            android:label="@string/FragmentTitle">
        </activity>
        
    </application>

</manifest>
